extends layout

block content
  h1= title
  p Welcome to #{title} chat.
  span#room_name
  div#chat-area
  
  span #{user_name}
  input#message
  button#send Send
    
  
block script  
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/client.js')