extends layout

block content
  h1= title
  p Welcome to #{title}
  label 名前 
  input#username 
  br
  span Rooms
  ul
    li 
      a(href="/chat#room1" ) room1
    li 
      a(href="/chat#room2" ) room2
